<h1>Mario's Products</h1>


<h3><%= link_to "Add a new Product", new_product_path %></h3>

<ol>
  <% @products.each do |product| %>
    <li><%= link_to "#{product.name}", product_path(product) %> | <%= product.reviews.length %> reviews</li>
  <% end %>
</ol>
