<h1>Mario's Products</h1>
<h3><%= link_to "Add a new Product", new_product_path %></h3>

<ol>
  <% @products.each do |product| %>
    <li><%= link_to "#{product.name}  | #{product.reviews.length} reviews", product_path(product) %></li>
  <% end %>
</ol>
