<h1>Mario's Products</h1>
<%= link_to "New Product", new_product_path %>
<%= link_to "Most Reviewed Products",
    products_path(sort_by: "sort_by_most_reviews") %>
<%= link_to "Most Reviewed Products",
    products_path(sort_by: "sort_by_most_reviews") %>

<ol>
  <% @products.each do |product| %>
    <li><%= link_to "#{product.name}  | #{product.reviews.length} reviews", product_path(product) %></li>
  <% end %>
</ol>
